@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next { height: 100%; }

:root {
  --font-poppins: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-poppins);
}

